#cardDeck{
    display: grid;

    height: 100%;

    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
}


.card{
    background-image: url(../images/zero_two.jpg);
    background-size: 110px 180px;
}