#cardDeck{
    display: grid;

    height: 100%;

    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(6, 1fr);
}

.card{
    background-image: url(../images/ram.jpg);
    background-size: 110px 180px;
}
