#cardDeck{
    display: grid;

    height: 100%;

    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
}


.card{
    background-image: url(../images/carte.jpg);
    background-size: cover;
}